---
id: "siteconfig.json"
"$schema": "http://json-schema.org/draft-04/schema"
title: Site config
description: Configuration of a single site
type: object
properties:
  name:
    type: string
    description: Website name
  style:
    type: string
    description: Layout filter selected for the site
    example: A1
    default: A1
  favicon:
    type: string
    description: Favicon URL
  cta:
    type: object
    required:
    - version
    properties:
      domain:
        name: domain
        description: CDN to serve the CtA from
        type: string
      bucket:
        name: bucket
        description: S3 bucket to serve the CtA from
        type: string
      version:
        name: version
        description: CtA version to use on site
        type: string
        example: '1.0.0'
  analytics:
    type: object
    properties:
      google:
        name: google
        type: string
        description: Google Analytics ID for the site
      facebook:
        name: facebook
        type: string
        description: Facebook tracking ID for the site
      twitter:
        name: twitter
        type: string
        description: Twitter tracking ID for the site
  image_filters:
    type: object
    properties:
       server:
         type: string
         description: 'URL to the imgflo.org server'
       key:
         type: string
         description: 'imgflo API key'
       secret:
         type: string
         description: 'imgflo API secret'
       required: ['server', 'key', 'secret']
  opengraph:
    type: object
    required:
    - type
    - image
    properties:
      image:
        name: image
        description: Default image to use when sharing the website
        type: string
      type:
        name: type
        description: Type of the website
        type: string
      appId:
        name: appId
        type: string
        description: Facebook App ID associated with the site
  collections:
    type: array
    minItems: 1
    uniqueItems: true
    items:
      "$ref": "collection.json"
  color:
    type: object
    properties:
      brandColors:
        type: array
        default: []
        items:
          "$ref": "base.json#/definitions/rgbcolor"
        description: "The user-selected brand colors for the site"
      brandStrength:
        type: number
        default: 0.0
        minimum: 0.0
        maximum: 1.0
        description: "How strongly to tend towards brandColors, as opposed to content colors (adaptive)"
      lightness:
        type: number
        default: 0.5
        minimum: 0.0
        maximum: 1.0
      saturation:
        type: number
        default: 0.5
        minimum: 0.0
        maximum: 1.0
  layout:
    spectrum:
      type: number
      description: ""
      default: 0.5
      minimum: 0.0
      maximum: 1.0
  typography:
    spectrum:
      type: number
      description: ""
      default: 0.5
      minimum: 0.0
      maximum: 1.0

required: [name]
